ion-slides {
	height: 100%;
}

.swiper-slide {
	display: block;
}

.swiper-slide h2 {
	padding-top: 40%
}

.swiper-slide img {
	max-height: 50%;
	max-width: 80%;
	margin: 60px 0 40px;
	pointer-events: none;
}

b {
	font-weight: 500;
}
ion-footer ion-item {
	--background:#f0efef
}
.readyText {
	font-size:3rem;
	padding-top:15%;
}
p {
	line-height: 1.5;
	color: #414042
}

p b {
	color: #414042
}
ion-content {
	--background: #f0efef;
}
ion-footer {
    position: absolute;
    bottom:0.5rem;
}
ion-slides {
  --bullet-background-active:black;
}
.startButton {
	color: #ad2931;
	font-size: 1.5rem;
	margin-top: 30%;
}
.primaryAction, .primaryAction:focus, .primaryAction:focus-within, .primaryAction:visited, .primaryAction:active, .primaryAction:hover {
    background:#ad2931;
    color:white;
    --color:white;
  	box-shadow:none;
    border-radius: 1.4rem;
    --background-activated:#ad2931;
    --color-activated:white;
    font-size: 0.8rem;
    width: 25%;
}