<ion-header style="position:relative" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button slot="end" color="dark" (click)="dismiss()">
      	<ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<h1 class="ion-text-center" *ngIf="assignment.title">{{assignment.title}}</h1>
	<div class="ion-text-center" *ngIf="assignment.videoID"style="width: 100%;height: 50%;margin: auto;margin-bottom: 1rem">
		<iframe frameborder="0" style="width:100%;height:100%;" [src]="updateVideoUrl(assignment.videoID)" allowfullscreen>
		</iframe>
	</div>
	<ion-text *ngIf="assignment.text" class="ion-text-wrap">
		{{assignment.text}}
	</ion-text>

</ion-content>