ion-content, ion-toolbar {
	--background: #f0efef;
}
h1 {
	font-size: 1.2rem;
	margin-top: 0;
	margin-bottom: 1rem;
}
ion-text {
	line-height: 1.8rem;
}
.videoContainer {
	width: 100%;
	height: 50%;
	margin: auto;
	margin-bottom: 2rem;
	background: black;
}
.video {
	width:100%;
	height:100%;
}