ion-content {
	--background: #f0efef;
}
ion-toolbar {
	--background: #ad2931;
	color: white;
}
ion-footer {
	border-top: solid 1px #e6dcdc
}
.nav-bar {
	margin: 0.25rem;
	text-align: center;
}
.challengesIcon {
	font-size: 2rem;
}
.backIcon {
	float: left;
}
.forwardIcon {
	float: right;
}