ion-content {
	--background: #f0efef;
}
ion-toolbar {
	--background: #ad2931;
	color: white;
}
ion-footer {
	border-top: solid 1px #e6dcdc
}
.nav-bar {
	margin: 1rem;
	text-align: center;
}
.challengesIcon {
	font-size: 1.6rem;
	vertical-align: middle;
}
.backIcon {
	font-size: 1.4rem;
	vertical-align: middle;
	float: left;
}
.forwardIcon {
	font-size: 1.4rem;
	vertical-align: middle;
	float: right;
}