ion-content {
	--background: #f0efef;
}
ion-toolbar {
	--background: #ad2931;
	color: white;
}
ion-footer {
	border-top: solid 1px #e6dcdc
}
.nav-bar {
	margin: 0.25rem;
	text-align: center;
}
.challengesIcon {
	font-size: 2rem;
}
.option {
	font-size: 0.9rem
}
.backIcon {
	float: left;
}
.forwardIcon {
	float: right;
}
.challengeItem {
	background: white;
	margin: 1rem;
}
ion-list {
	background: #f0efef;
}
.correct {
	color:green;
}
.incorrect {
	color:red;
}
.challengeId {
	padding-left: 0.5rem;
}
.challengeTitle {
	padding-left: 1rem;
}
.multipleChoiceImg {
	width: 78%;
}
.correctOption {
	border: 0.2rem solid green
}
.wrongOption {
	border: 0.2rem solid red
}
.optionIcon {
	vertical-align: bottom;
    font-size: 1rem;
}