<ion-header>
  <ion-toolbar>
    <ion-title>assignment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
test
</ion-content>

<ion-footer text-center>
  <ion-row>
      <ion-col>
          <div class="nav-bar">
            <ion-icon name="arrow-back-outline" class="backIcon"></ion-icon>
            <ion-icon (click)="viewAssignments()" slot="start" name="apps-outline" class="challengesIcon"></ion-icon>
            <ion-icon name="arrow-forward-outline" class="forwardIcon"></ion-icon>
          </div>
      </ion-col>
  </ion-row>
</ion-footer>