<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button slot="end" color="light" (click)="openInformationModal()">
          <ion-icon slot="icon-only" name="book-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>assignment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
	<ion-list *ngIf="showAll">
		<ion-item (click)="openAssignment(challenge); showAll = false" *ngFor="let challenge of challenges">
      <ion-label>{{challenge.id}}</ion-label>
      <ion-label>{{challenge.title}}</ion-label>
		</ion-item>
	</ion-list>
	<div *ngIf="!showAll">
    {{activeChallenge.title}}
    <br />
    {{activeChallenge.description}}
	</div>
</ion-content>

<ion-footer>
  <ion-row>
      <ion-col>
          <div class="nav-bar">
            <ion-icon aria-label="Previous challenge" *ngIf="!showAll" name="arrow-back-outline" class="backIcon"></ion-icon>
            <ion-icon *ngIf="!showAll" (click)="showAll = true" slot="start" name="list-outline" class="challengesIcon"></ion-icon>
            <ion-icon *ngIf="showAll" (click)="showAll = false" slot="start" name="close" class="challengesIcon"></ion-icon>
            <ion-icon aria-label="Next challenge" *ngIf="!showAll" name="arrow-forward-outline" class="forwardIcon"></ion-icon>
          </div>
      </ion-col>
  </ion-row>
</ion-footer>