<ion-content [scrollY]="false" class="ion-text-center ion-padding">
	<img src="/assets/img/logo.png" class="logo-png">
  <ion-input [(ngModel)]="pin" placeholder="PIN" class="pin-input"></ion-input>
  <ion-button expand="block" (click)="loadAssignment()" fill="solid" color="ad2931" class="enter-button">{{ 'ENTER' | translate }}</ion-button>
</ion-content>

<ion-footer text-center>
    <ion-row>
        <ion-col>
            <div class="language" (click)="changeLanguage()"><ion-icon slot="start" name="globe" class="langIcon"></ion-icon> <span class="langText"> {{ 'changeLang' | translate }} </span></div>
        </ion-col>
    </ion-row>
</ion-footer>