.langIcon {
  font-size: 1.2rem;
  color: #5e5e5e;
  vertical-align: middle;
}

.langText {
  vertical-align: middle;
}
.language {
	margin: 1rem;
	text-align: center
}
.logo-png {
  width: 70%;
  padding-top: 7.5rem;
}
ion-content {
	--background: #f0efef;
}
ion-footer {
	background: #f0efef;
}
.enter-button {
  width: 80%;
  margin: 0 auto;
  background-color: #ad2931;
}
.pin-input {
  background-color: #fff;
  width: 80%;
  margin: 0 0 10px 10%;
  color: #000;
}